h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
    color: #444;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    border: 5px solid #303d30;
}

form p {
    font-size: 1.7rem;
    margin-bottom: 25px;
    color: #555;
}

.btn {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
    color: #fff;
}

.btn-primary {
    background-color: #303d30;
    color: #fff;
    border: none;
    margin-top: 15px;
}

.btn-primary:hover {
    background-color: #6fc76f;
    color: #fff;
}
