{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/add_post.css' %}">
{% endblock %}

{% block title %}
    Add new post!
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="form-container">
            <h1>Add Blog Post</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Post</button>
            </form>
        </div>
    {% else %}
        <h2>You're not logged in</h2>
    {% endif %}
{% endblock %}
