{% extends 'base.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/plant_list.css' %}">{% endblock %}
{% block title %}Plants in {{ category_name }} Category{% endblock %}
{% block content %}
 <div class="container">
        <div class="filter">
            <h3>Plants in {{ category_name }} Category</h3>
        </div>


  <section class="plant-list">
        {% for plant in plants %}
            <div class="plant-card">
                <h3>{{ plant.name }}</h3>
                <p><strong>Type of plant:</strong> {{ plant.type_of_plant }}</p>
                <p><strong>Where it lives:</strong> {{ plant.habitat }}</p>
                {% if plant.image %}
                    <img src="{{ plant.image.url }}" alt="{{ plant.name }}">
                {% else %}
                    <img src="{% static 'images/default_image.png' %}" alt="No image available">
                {% endif %}
                {% if plant.wikipedia_url %}
                    <a href="{{ plant.wikipedia_url }}" target="_blank" class="wikipedia-link">Wikipedia</a>
                {% endif %}
            {% if user.is_staff %}
                    <a href="{% url 'delete_plant' plant.pk %}" class="delete-plant">Delete</a>

            {% endif %}
            </div>
        {% empty %}
            <p>No plants found.</p>
        {% endfor %}
    </section>
    </div>

{% endblock %}
