{% extends 'base.html' %}
{% load static %}
{% block title %}Search Plants{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/search_plants.css' %}" >{% endblock %}


{% block content %}
    <div class="container">
        <h1>Search Plants</h1>
        <form method="get" action="{% url 'search_plants' %}">
            <input type="text" name="q" value="{{ query }}" placeholder="Search for a plant by name..." required>
            <button type="submit">Search</button>
        </form>
        {% if plants %}
            <ul>
                {% for plant in plants %}
                    <li><a href="{% url 'category_plants' category_name=plant.category.name %}"> {{ plant.name }}</a> ({{ plant.category }}) - {{ plant.habitat }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="no-results">{% if query %}No plants found matching "{{ query }}".{% else %}Enter a plant name to search.{% endif %}</p>
        {% endif %}
    </div>

{% endblock %}
