
h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    color: #444;
}

form {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 5px solid #303d30;
}

form p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

/* Input and Label Styles */
form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Button Styles */
.btn {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-secondary {
    background-color: #303d30;
    color: #fff;
    border: none;
    margin-left: 10px;
}

.btn-secondary:hover {
    background-color: #6fc76f;
    color: #fff;
}
