* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, rgba(85, 255, 85, 0.8), rgba(62, 87, 66, 0.8)), no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.message-box {
    background-color: #eceee3;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 400px;
    width: 100%;
    z-index: 10;
}

h1.success-icon {
    font-size: 4rem;
    color: #28a745;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.message {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typingEffect 3s steps(40) 1s forwards;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #28a745;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}
@keyframes revealText {
    to {
        opacity: 0.7;
    }
}


@keyframes typingEffect {
    to {
        width: 105%;
    }
}