{% extends 'base.html' %}
{% load static %}

{% block title %}All Comments{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/admin_pages/comment_list.css' %}">{% endblock %}
{% block content %}
<h1>Manage Comments</h1>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Post</th>
            <th>Author</th>
            <th>Content</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.post.title }}</td>
                <td>{{ comment.post.author }}</td>
                <td>{{ comment.content|truncatewords:10 }}</td>
                <td>{{ comment.created_at|date:"d-m-Y H:i" }}</td>
                <td>
                    <a href="{% url 'comment_edit' comment.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="{% url 'comment_delete' comment.id %}" class="btn btn-danger">Delete</a>

                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No comments available.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
