{% extends 'base.html' %}
{% load static %}
{% block title %}Profiles{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/admin_pages/profile_list.css' %}">{% endblock %}

{% block content %}
<h1>Profiles</h1>
<table>
    <tr>
        <th>User</th>
        <th>Actions</th>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.user }}</td>
        <td class="buttons">
            <a href="{% url 'profile_edit' pk=profile.pk %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'profile_delete' pk=profile.pk %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
