{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/change_password.css' %}" >{% endblock %}
{% block content %}

<div class="container">
<h1>Change password</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p}}<button type="submit" class="btn btn-outline-warning">Change password</button>
        <button class="btn btn-dark">
        <a href="{% url 'edit_profile' %}">Back to Edit Profile</a></button>
    </form>
    <br><br>
<ul>
    <li>Your password can’t be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
    <li>Your password can’t be entirely numeric.</li>
    <li>The two password fields didn’t match.</li>
</ul>
</div>


{% endblock %}